.shop-container{
    padding-top: 100px;
}
.banner{
    background: rgba(0, 0, 0, 0.75) url(../../images/banner-image.jpg);
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}